<div class="container">
  <div class="invitation-slider"></div>
  <div class="why-inviteez" id="why-invitees">
      <label class="why-inviteez-header">Why inviteez?</label>     
      <div class="reasons-box">
        <ul>
            <li class="plus-design"></li>
            <li class="fancy-email"></li>
            <li class="slide-show"></li>
        </ul>
        <ul>
            <li class="add-videos"></li>
            <li class="easy-control-panel"></li>
            <li class="event-update"></li>
        </ul>
        <ul>
            <li class="wish-list"></li>
            <li class="security"></li>
            <li class="more"></li>
        </ul>

      </div>
  </div>
  <div class="sign-up" id="sign-up" style="display:none;">
      <%=render :partial => "/sessions/sign_up"%>
  </div>
</div>