<div class="help-links">
    <ul>
        <li class="heading">Help</li>
        <li><a href="#" title="Payments">Payments</a></li>
        <li><a href="#" title="Browse Categories">Browse Categories</a></li>
        <li><a href="#" title="How it works?">How it works?</a></li>
        <li><a href="#" title="FAQ">FAQ</a></li>
    </ul>
    <ul>
        <li class="heading">inviteez</li>
        <li><a href="#" title="What we are?">What we are?</a></li>
        <li><a href="#" title="About us">About us</a></li>
        <li><a href="#" title="Contact us">Contact us</a></li>
    </ul>
      <ul>
        <li class="heading">Misc</li>
        <li><a href="#" title="Home">Home</a></li>
        <li><a href="#" title="Create an invitation">Create an invitation</a></li>        
    </ul>
</div>
<div class="follow-us-on">
    <div class="saparator"></div>
    <div class="follow-us">Follow us:</div>
    <div class="follow-on fb"><a href="#" title="Follow us on Facebook">Facebook</a></div>
    <div class="follow-on yt"><a href="#" title="Follow us on Youtube">Youtube</a></div>
</div>